*{
    font-size:15px;
    background: url(./background.jpg) center bottom;
    background-size:cover;
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.keys{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;   
}
kbd{
    background-image: none;
    display: block;
    font-size: 3rem;
}
span{
    background-image: none;
}

.key {
    border: 5px solid black;
    margin: 15px;
    padding: 8px;
    border-radius: 10px;
    background-image: none;
    font-size:1.5rem;
    font-weight: 1000;
    text-align: center;
    transition: all 0.08s  ;
}

.playing {
    transform: scale(1.1);
    border-color: yellow;
    box-shadow: 3px 3px 3px rgb(255, 152, 35);
}

.sound{
    text-transform: uppercase;
    color: rgb(238, 238, 129);
    letter-spacing: 2.5px;
}

.key:hover{
    background-color: rgba(78, 82, 82, 0.767);
}

